lesson2
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af886e13.568a4","type":"http in","z":"31332582.eedb62","name":"","url":"/lee_syash","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["86dd7627.035c38"]]},{"id":"1c4886fe.e41ca9","type":"http response","z":"31332582.eedb62","name":"","statusCode":"","headers":{},"x":1290,"y":260,"wires":[]},{"id":"89d0a6ea.713938","type":"http request","z":"31332582.eedb62","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{task.sid}}}","tls":"","proxy":"","authType":"","x":470,"y":140,"wires":[["f24cd37c.2b24b"]]},{"id":"86dd7627.035c38","type":"function","z":"31332582.eedb62","name":"Перезапись","func":"msg.task = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["89d0a6ea.713938"]]},{"id":"f24cd37c.2b24b","type":"xml","z":"31332582.eedb62","name":"","property":"payload","attr":"","chr":"","x":630,"y":140,"wires":[["e490dc24.b23bb"]]},{"id":"e490dc24.b23bb","type":"function","z":"31332582.eedb62","name":"Перезапись","func":"msg.sid = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["9a380d50.9be41"]]},{"id":"86ad3ccd.ce581","type":"catch","z":"31332582.eedb62","name":"","scope":null,"uncaught":false,"x":460,"y":260,"wires":[["10bb5c02.519674","73eceb87.8aff44"]]},{"id":"9a380d50.9be41","type":"function","z":"31332582.eedb62","name":"Доступ по LDAP ","func":"if(msg.sid.session !== undefined){\n    if(msg.sid.session.user[0].$.login == 'DN030395MAA'){\n        return[msg,null,null];\n    }\n    else{\n        msg.payload = 'Для '+msg.sid.session.user[0].$.login+' доступ запрещен';\n        return[null,msg,null];\n    }\n}\nelse{\n    msg.payload = 'Сессия '+msg.task.sid+' неактивна или несуществует';\n    return[null,null,msg];\n}\n","outputs":3,"noerr":0,"x":990,"y":140,"wires":[["8971adbe.6e964"],["1c4886fe.e41ca9","5edba146.d3656"],["1c4886fe.e41ca9","2ac0a3a8.8c549c"]]},{"id":"8971adbe.6e964","type":"link out","z":"31332582.eedb62","name":"","links":["14553d5e.d56c53"],"x":1327.0000400543213,"y":128.0000057220459,"wires":[]},{"id":"14553d5e.d56c53","type":"link in","z":"31332582.eedb62","name":"","links":["8971adbe.6e964"],"x":695,"y":380,"wires":[["1bbd2cbb.1deb93"]]},{"id":"10bb5c02.519674","type":"function","z":"31332582.eedb62","name":"Присвоение ответа","func":"msg.payload = msg.sid.errorMessage.$.text;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["1c4886fe.e41ca9"]]},{"id":"73eceb87.8aff44","type":"debug","z":"31332582.eedb62","name":"Ошибка сервиса","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":300,"wires":[]},{"id":"5edba146.d3656","type":"debug","z":"31332582.eedb62","name":"Доступа нет","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":180,"wires":[]},{"id":"2ac0a3a8.8c549c","type":"debug","z":"31332582.eedb62","name":"Ошибка сида","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":220,"wires":[]},{"id":"1bbd2cbb.1deb93","type":"function","z":"31332582.eedb62","name":"Определение оператора","func":"if (msg.task.phone > 0){\n    msg.task.rp = msg.task.phone;\n}\nelse {\n    msg.payload = 'Номер введен неверно';\n    return[null,null,null,msg];\n}\n\nif (msg.task.rp.length == 13){\n    msg.task.oper = msg.task.rp.slice(3,6);\n    msg.task.number = msg.task.phone.slice(3);\n}\nelse if (msg.task.rp.length == 12){\n    msg.task.oper = msg.task.rp.slice(2,5);\n    msg.task.number = msg.task.phone.slice(2);\n}\nelse if (msg.task.rp.length == 11){\n    msg.task.oper = msg.task.rp.slice(1,4);\n    msg.task.number = msg.task.phone.slice(1);\n}\nelse if (msg.task.rp.length == 10){\n    msg.task.oper = msg.task.rp.slice(0,3);\n    msg.task.number = msg.task.phone;\n}\nelse{\n    msg.payload = 'Номер введен неверно';\n    return[null,null,null,msg];\n}\n\nif(msg.task.oper == '099' || msg.task.oper == '066'|| msg.task.oper == '095'){\n    msg.task.oname = 'Vodafone';\n    msg.payload = '+38'+msg.task.number+' '+msg.task.oname;\n    return[msg,null,null,null];\n}\nelse if(msg.task.oper == '093' || msg.task.oper == '063' || msg.task.oper == '073'){\n    msg.task.oname = 'Lifecell';\n    msg.payload = '+38'+msg.task.number+' '+msg.task.oname;\n    return[null,msg,null,null];\n}\nelse if(msg.task.oper == '067' || msg.task.oper == '097'){\n    msg.task.oname = \"Kyivstar\";\n    msg.payload = '+38'+msg.task.number+' '+msg.task.oname;\n    return[null,null,msg,null];\n}\nelse{\n    msg.payload = 'Номер введен неверно';\n    return[null,null,null,msg];\n}","outputs":4,"noerr":0,"x":870,"y":380,"wires":[["1c4886fe.e41ca9","b7f4e87d.8544d8"],["1c4886fe.e41ca9","ae2a3cc5.6d161"],["1c4886fe.e41ca9","d9cd4adc.1d9158"],["1c4886fe.e41ca9","89a3d3fa.155e4"]]},{"id":"b7f4e87d.8544d8","type":"debug","z":"31332582.eedb62","name":"Vodafone ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":320,"wires":[]},{"id":"ae2a3cc5.6d161","type":"debug","z":"31332582.eedb62","name":"Lifecell","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":360,"wires":[]},{"id":"d9cd4adc.1d9158","type":"debug","z":"31332582.eedb62","name":"Kyivstar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":400,"wires":[]},{"id":"89a3d3fa.155e4","type":"debug","z":"31332582.eedb62","name":"Ошибка номера","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":440,"wires":[]}]
