Lesson1
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a014ee21.b70ad","type":"inject","z":"31332582.eedb62","name":"Start","topic":"12","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.5,"y":286.0000400543213,"wires":[["cbf6640.c722ea"]]},{"id":"a5e542a4.b48ac","type":"debug","z":"31332582.eedb62","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":736.3907699584961,"y":286.69538402557373,"wires":[]},{"id":"cbf6640.c722ea","type":"http request","z":"31332582.eedb62","name":"Запрос в API","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":360.39844512939453,"y":286.39062786102295,"wires":[["37b45ce2.de0fb4"]]},{"id":"37b45ce2.de0fb4","type":"function","z":"31332582.eedb62","name":"Запись Курса","func":"for(i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].ccy == \"USD\"){\n        msg.HW1 = \"Buy \" + msg.payload[i].buy + \", sale \" + msg.payload[i].sale;\n        break;\n    }\n}\nmsg.dateHW1 = msg.headers.date;\nreturn msg;","outputs":1,"noerr":0,"x":566.394603729248,"y":286.47658824920654,"wires":[["a5e542a4.b48ac"]]}]
